html {
    background-color: beige;
}



#title {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
}

#subtitle {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

#image {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 344px;
    max-width: 100%;
    display: block;
    height: auto;    
}

#img-caption {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

#tribute-info {
    text-align: center;
    margin-top: 100%;
    margin: auto;
    font-size: 30px;    
}
header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

h1 {
    text-align: center;
    margin-top: 100%;
    margin: auto;
    font-size: 45px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul {
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 22px;    
}

footer {
    text-align: center;
    margin-top: 100%;
    margin: auto;
    font-size: 20px;    
}

@media screen and (max-width: 768px) {
	#main {
		width: 80%;
        font-size: 200%;	
        
	}
	

}
